{% extends "layout.html" %}

{% block body %}
<br><br><br>
<div class="row">
	<div class="col s2"></div>
	<div class="col s8">
		<ul class="collection card">
            {% for pot in pots %}
            	{% if not pot.authenticated %}
            	<li class="collection-item avatar">
	                <img src="https://image.flaticon.com/icons/svg/17/17004.svg" alt="" class="circle">
	                <span class="title">{{pot.title}}</span>
	                <p>by {{pot.author}}<br>
	                   <i class="chip">{{pot.tag}}</i>
	                </p>
	                <form action="/approve/{{pot.id}}" method="POST">
	                	<input class="btn blue-grey darken-3 btn-small hoverable" type="submit" value="approve"></input>
	                </form>
	              </li>
              	{% endif %}
            {% endfor %}
          </ul>
	</div>
	<div class="col s2"></div>
	
</div>
<div class="fixed-action-btn">
  <a class="btn-floating btn-large blue-grey darken-3" href="/">
    <i class="large material-icons">home</i>
  </a>
</div>
{% endblock %}