{% extends "layout.html" %}
{% block body%}
	<br></br>
	<a href="/clear_cart"><button class="btn red left waves-effect">Clear Cart<i class="fas fa-trash"></i></button></a>
	<table class="center highlight responsive-table">
		<thead>
			  <th>Serail No</th>
			  <th>Username</th>
			  <th>Book Name</th>
			  <th>Quantity</th>
			  <th>Price/book</th>
		</thead>
		{% for item in items %}
	       <tbody>
	          <tr>
	            <td>{{ item.serial }}  </td>
	            <td>{{ item.email }}   </td>
	            <td>{{ item.book }}	   </td>
	            <td>{{ item.quantity }}</td>
	            <td>₹ {{ item.price }} </td>
	          </tr>
	        </tbody>
		{% endfor %}
	</table>
	<br>
	<div class="right">
		<h7 class="right"><b>Bill Amount:</b> ₹ {{ '%0.2f' % bill }}</h7><br>
		<p class="right" style="font-size:11px">[Includes Tax of 10% = ₹ {{ tax }}]</p>
	</div>
	</br></br></br>
	<div class="row">
		<form method="post">
			<div class="input-field col s3">
			  <i class="material-icons prefix">account_circle</i>	
	          <input name="cus_name" type="text" class="validate">
	          <label >Name</label>
	        </div>
        	<div class="input-field col s3">
        	  <i class="material-icons prefix">phone</i>
	          <input name="cus_phone" type="text" class="validate">
	          <label >Phone</label>
	        </div>
    	</form>
    	<br>
		<a href="/show_orders"><button class="btn teal right">Place The Order<i class="fas fa-cart-plus"></i></button></a>
	</div>
{% endblock %}